<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="{% block meta_description %}{% endblock %}">
	<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
	<meta name="author" content="Craft+Keen">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block meta_title %}Welcome{% endblock %}</title>
	{% block stylesheets %}	 
	    <link rel="stylesheet" href="{{base_url}}/assets/bootstrap/dist/css/bootstrap.min.css" />
	    <link rel="stylesheet" href="{{base_url}}/assets/normalize-css/normalize.css" />
	    <link rel="stylesheet" href="{{base_url}}/assets/fontawesome/css/font-awesome.min.css" />
	    <link rel="stylesheet" href="{{base_url}}css/styles.css" />
	{% endblock %}
    </head>    
    <body>
	<div class="container-wrapper">
	    {# TOP MENU BEGINS #}
	    {% block navbar %}
		<!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
		    <div class="container">
			<div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#">Project name</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
			    <ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
				<li class="dropdown">
				    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				    <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Nav header</li>
					<li><a href="#">Separated link</a></li>
					<li><a href="#">One more separated link</a></li>
				    </ul>
				</li>
			    </ul>
			</div><!--/.nav-collapse -->
		    </div>
		</nav>
	    {% endblock %}
	    {# TOP MENU ENDS #}
	    
	    {# BODY BEGINS #}
	    <!-- Begin page content -->
	    <div class="container">	

		<div class="page-header">
		    <h1>{% block page_title %}Sticky footer with fixed navbar{% endblock %}</h1>
		</div>
		
		{% block body %}
		    <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
		    <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
		{% endblock %}
	    </div>	   
	    {# BODY ENDS #}

	    {# FOOTER BEGINS #}
	    {% block footer %}
		<footer class="footer">
		    <div class="container">
			<p class="text-muted">Place sticky footer content here.</p>
		    </div>
		</footer>
	    {% endblock %}
	    {# FOOTER ENDS #}

	    {% block javascript %}
		<script src="{{base_url}}assets/jquery/dist/jquery.min.js"></script>
		<script src="{{base_url}}assets/bootstrap/dist/js/bootstrap.min.js"></script>		
		<script src="{{base_url}}js/functions.js"></script>
	    {% endblock %}
	</div>
    </body>
</html>