{% extends 'layout.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{base_url}}assets/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="{{base_url}}assets/slick-carousel/slick/slick-theme.css" />
    {{ parent() }}        
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{base_url}}/assets/slick-carousel/slick/slick.min.js"></script>
    <script>
	$(document).ready(function(){
	    $('.carousel-my-test').slick({
		dots: true,
		infinite: true,
		speed: 300,
		slidesToShow: 1,
		adaptiveHeight: true
	    });
	});
    </script>
{% endblock %}

{% block page_title %}Slick Test{% endblock %}

{% block body %}
    {#<div class="carousel-my-test">
	<div><img src="https://media.cylex-international.com/ca/2344-7900-logo.jpg" /></div>
	<div><img src="https://image.shutterstock.com/display_pic_with_logo/937165/156920903/stock-photo-young-businessman-during-a-break-smoking-a-cigarette-against-gray-background-156920903.jpg" /></div>
    </div>#}
        
    {% for item in vova %}
	{{item.name}}<br />
    {% endfor %}
{% endblock %}